body {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
}


.custom-nav {
    background: #000;
}


.header-section {
    color: white;
}


.custom-card {
    background: #112240;
    border: none;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.5);
}


input, select {
    background: #233554 !important;
    color: white !important;
    border: none !important;
}

/* BUTTON */
.custom-btn {
    background: #64ffda;
    color: #000;
    font-weight: bold;
}

.custom-btn:hover {
    background: #52e0c4;
}

/* RESULT */
#result {
    color: #64ffda;
    font-weight: bold;
}

/* BOX */
.box {
    background: #233554;
    padding: 10px;
    margin-top: 8px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #000;
    color: white;
}
